*{
    margin: 0;
    padding: 0;
}
/*Navigation bar*/
.navigation-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 0.02px 1px gray;
}
.navigation-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}
.Gamer-G{
    color: rgb(221, 57, 112);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    

}

.menus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}
.list-item{
    padding: 20px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-button img{
    width: 20px;
    height:20px;
    padding: 10px;
}
.nav-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    border-style: none;
    font-size: 20px;
}
/*Home-body*/
.Home-page-container{
    display: flex;
    justify-content: space-around;
}
.Home-info{
    background-image: url('images/Group\ 14.png');
    width: 100%;
    background-size: cover;
    padding: 150px 30px 150px 150px;
}
.home-title{
    font-size: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Home-head{
    font-size: 95px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(223, 10, 194);
}
.home-lists{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.primary-Button{
    background-color: rgb(228, 29, 145);
    padding: 20px 30px;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    border-style: none;
}
.primary-Button2{
    background-color: rgb(36, 132, 221);
    padding: 20px 30px;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    border-style: none;
}
/*Hover button*/
.primary-Button:hover{
    background-color: rgb(252, 54, 169);
    
}
.primary-Button2:hover{
    background-color: rgb(63, 159, 248);
    
}
.button-block{
    padding-top: 30px;
    
}
.home-img{
    padding-right: 150px;
}




/*Second Banner*/

.second-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title-second{
    color: rgb(218, 17, 218);
    font-size: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.second-banner{
    text-align: right;
    padding: 50px;
}
.second-banner > p{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
.second-banner h3{
    font-size: 25px;
    padding-top: 15px;
}
.second-banner button{
    background-color: rgb(228, 29, 145);
    padding: 20px 30px;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    border-style: none;
    
}.second-banner button:hover{
    background-color: rgb(245, 75, 174);
    
}
.second-banner .quotation{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}







/*Main Body*/
.main-body-header{
    text-align: center;
    padding: 30px;
}
.main-body-header h1{
    font-size:40px;
    padding-bottom: 20px;
}
.main-body-header p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 15px ;
    padding-right: 15px;
}
.box{
    padding-bottom: 20px;
}
.box p{
    padding-top: 10px;
    color: rgb(95, 92, 92);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.playicon{
   
    width: 100px;
    height: 100px;
    position: absolute;
    visibility: hidden;
}
.box:hover{
   
    filter: brightness(70%);
    .playicon{
     visibility: visible;
     top:180px;
    left:140px;
    
    } 
 }
.card-position{
    position: relative;
}




/*Main Body TWO*/
.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 160px;
}
.left-container-main-body{
    text-align: right;
}
.left-container-main-body h1{
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left-container-main-body p{
     font-size: 15px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sidebar-img{
    
    position: relative;
    bottom: 280px;
    right: 150px;

}

/*solid Section*/

.solid-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(252, 47, 173);
}
.solid-left-contents{
    padding-left: 150px;
}
.solid-left-contents h1{
    font-size: 45px;
    padding-bottom:30px ;
    color: white;
}
.solid-left-contents p{
    font-size: 25px;
    padding-bottom:30px ;
    color: white;
}
.solid-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: white;
    padding-bottom: 20px;
    
}
.solid-list > ul > li{
    list-style: none;
}
.solid-button{
    padding: 20px 45px;
    border-radius: 16px;
    border-style: none;
    color:rgb(252, 47, 173) ;
    font-size: 20px;
    background-color: white;
}
.solid-button:hover{
   
    color:rgb(255, 255, 255) ;
    background-color: rgb(83, 66, 235);
}


/*Mini Games features buttons-icons*/
.final-section{
    padding: 150px 200px;
}
.mini-games{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
   
    
}
.mini-game-button{
    border-radius: 50px;
    display: flex;
    gap:10px;
    align-items: center;
    padding: 15px 20px;
    background-color: rgb(255, 251, 246);
    border-style: none;
    font-size: 20px;
}


.mini-game-button:hover{
    border-radius: 50px;
    display: flex;
    gap:10px;
    align-items: center;
    padding: 15px 20px;
    border-style: solid ;
    background-color: rgb(255, 251, 246);
    color: rgb(255, 23, 166);
    border-color:rgb(255, 23, 166);
    

}
/*Footer Part*/
footer{
    background-color: rgb(5, 5, 27);
}
.footer-title{
    display: flex;
    justify-content: center;
    align-items:center ;
    color: white;
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 50px;
}
.footer-list{
    text-align: center;
    color: white;
    font-size: 20px;
    list-style: none;
    
}
.upper-list-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    gap:50px
}

.social-pic{
    width: 50px;
    display: flex;
    margin:auto; row-gap: 10px;
    column-gap: 10px;
   justify-content: space-around;
   align-items: center;
}
.social{
    width: 50px;
    padding-left: 10px;
    cursor: pointer;
   
}
.pic-list{
    list-style: none;
    
}

.down-list-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}
.ending-list{
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    list-style: none;
}
.copyright{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    font-size: 15px;
    color: white;
}
                                            /*Media Query Section For Mobile & Tablet*/
                                                            /*Mobile Device*/
@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        margin-left: 0%;
        
        
    }
    .navigation-bar{
        flex-direction: column;
        
    }
    .navigation-title{
        padding: 30px;
    }
    .menus{
        flex-direction: column;
        
    }
    /*Home-page*/
    .Home-page-container{
        flex-direction: column-reverse;
    }
    .Home-info{
        padding: 50px 30px 50px 50px;
    }
    .home-img{
        position: relative;
        right: 40px;
    }


    /*Second Banner*/
    .second-section{
        margin:auto;
    }
    .second-container {
       flex-direction: column;
    }
    .second-container img{
        width: 550px;
        margin-left: 10%;
    }
    .second-banner{
        text-align: center;
        padding: 10px;
        margin-left: 63px;
    }
    
    .home-title-second{
        color: rgb(218, 17, 218);
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .second-banner h3{
        font-size: 23px;
        padding-top: 12px;
    }
    .second-banner .quotation{
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .second-banner > p{
        font-size: 12px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 15px;
    }







    /*Main Body*/

 
    .main-body-header h1{
        font-size:35px;
        padding-bottom: 16px;
        
    }
    .boxes{
       flex-direction: column;
        
    }
    .box{
        padding: 10px;
    }


.features{
    flex-direction: column;
    
}

.left-container-main-body{
    text-align: center;
    
}
 .feature-img{
    padding-top: 20px;
   
    
 }
 .sidebar-img{
    width: 100px;
 }

/*Solid part*/
.solid-section{
    flex-direction: column;
    padding-top: 50px;
}
.solid-left-contents{
    padding-left: 15px;
}
.solid-left-contents h1{
    font-size: 38px;
}
.solid-left-contents p{
    font-size: 20px;
}
.solid-list{
    font-size: 20px;
}
.solid-image{
    width: 600px;
    padding-left: 50px;
}
/*Mini games*/
.mini-games{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.mini-game-button{
    display: flex;
    gap:2px;
    padding: 10px 20px;
    font-size: 12px;
}


.mini-game-button:hover{
    border-radius: 50px;
    
    gap:5px;
    padding: 10px 20px;
    border-style: solid ;
    background-color: rgb(255, 251, 246);
    color: rgb(255, 23, 166);
    border-color:rgb(255, 23, 166);
    

}


/*Footer SECTION*/
.upper-list-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}
.social-pic{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: -20px;
}
.down-list-footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

}

                                                    /*Tablet */
@media screen and (min-width: 576px) and (max-width:992px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        margin-left: 0%;
        
        
    }
    .navigation-bar{
        flex-direction: column;
        
    }
    .navigation-title{
        padding: 30px;
    }
    .menus{
        flex-direction: column;
        
    }
    /*Home-page*/
    .Home-page-container{
        flex-direction: column-reverse;
    }
    .home-img{
        position: relative;
       right: 30px;
    }
    .Home-info{
        padding: 150px 130px 150px 150px;
    }
   


    /*Second Banner*/
    .second-section{
        margin:auto;
    }
    .second-container {
       flex-direction: column;margin-right: 70px;
    }
    .second-container img{
        width: 550px;
        
    }
    .second-banner{
        text-align: center;
        padding: 10px;
        margin-left: 30px;
    }
    
    .home-title-second{
        color: rgb(218, 17, 218);
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .second-banner h3{
        font-size: 23px;
        padding-top: 12px;
    }
    .second-banner .quotation{
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .second-banner > p{
        font-size: 12px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 15px;
    }

     /*Main Body*/

 
     .main-body-header h1{
        font-size:35px;
        padding-bottom: 16px;
        
    }
    .boxes{
       flex-direction: column;
        
    }
    .box{
        padding: 10px;
    }

    /*features*/
    .features{
        flex-direction: column;
        
    }
    
    .left-container-main-body{
        text-align: center;
        
    }
     .feature-img{
        padding-top: 20px;
       
        
     }
     /*Solid part*/
.solid-section{
    flex-direction: column;
    padding-top: 120px;
}
.solid-left-contents{
    padding-left: 15px;
}
.solid-left-contents h1{
    font-size: 38px;
}
.solid-left-contents p{
    font-size: 20px;
}
.solid-list{
    font-size: 20px;
}
.solid-image{
    width: 600px;
    padding-left: 50px;
}
/*Mini games*/

.mini-games{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.mini-game-button{
    display: flex;
    gap:2px;
    padding: 10px 20px;
    font-size: 12px;
}


.mini-game-button:hover{
    border-radius: 50px;
    
    gap:5px;
    padding: 10px 20px;
    border-style: solid ;
    background-color: rgb(255, 251, 246);
    color: rgb(255, 23, 166);
    border-color:rgb(255, 23, 166);
    

}
/*Footer SECTION*/
.upper-list-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}
.social-pic{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: -20px;
}
.down-list-footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
}